USE [EmployeeManagement]
GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 12/23/2024 11:36:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Active] [bit] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 12/23/2024 11:36:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[HireDate] [datetime] NULL,
	[JobTitle] [nvarchar](100) NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[DepartmentId] [int] NULL,
	[Active] [bit] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProjects]    Script Date: 12/23/2024 11:36:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[LastUpdatedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 12/23/2024 11:36:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Active] [bit] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaskAssigns]    Script Date: 12/23/2024 11:36:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaskAssigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[AssignDate] [date] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_tblTaskAssigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 12/23/2024 11:36:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[Active] [bit] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblDepartment] ON 

INSERT [dbo].[tblDepartment] ([Id], [DepartmentName], [Active], [CreateDate]) VALUES (1, N'Human Resources', 1, CAST(N'2024-12-05T09:11:57.983' AS DateTime))
INSERT [dbo].[tblDepartment] ([Id], [DepartmentName], [Active], [CreateDate]) VALUES (2, N'Finance', 1, CAST(N'2024-12-05T09:11:57.983' AS DateTime))
INSERT [dbo].[tblDepartment] ([Id], [DepartmentName], [Active], [CreateDate]) VALUES (3, N'IT', 1, CAST(N'2024-12-05T09:11:57.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [HireDate], [JobTitle], [Salary], [DepartmentId], [Active], [CreateDate], [LastUpdatedDate]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'0716854788', CAST(N'2020-05-15T00:00:00.000' AS DateTime), N'Software Engineer', CAST(60000.00 AS Decimal(10, 2)), 3, 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[tblEmployee] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [HireDate], [JobTitle], [Salary], [DepartmentId], [Active], [CreateDate], [LastUpdatedDate]) VALUES (2, N'Jane', N'Smith', N'jane.smith@example.com', N'0987654321', CAST(N'2019-11-20T00:00:00.000' AS DateTime), N'Marketing Manager', CAST(70000.00 AS Decimal(10, 2)), 3, 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[tblEmployee] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [HireDate], [JobTitle], [Salary], [DepartmentId], [Active], [CreateDate], [LastUpdatedDate]) VALUES (3, N'Emily', N'Davis', N'emily.davis@example.com', N'5678901234', CAST(N'2021-01-10T00:00:00.000' AS DateTime), N'HR Specialist', CAST(50000.00 AS Decimal(10, 2)), 1, 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProjects] ON 

INSERT [dbo].[tblProjects] ([Id], [ProjectName], [StartDate], [EndDate], [Active], [CreateDate], [LastUpdatedDate]) VALUES (1, N'Project A', CAST(N'2023-01-01' AS Date), CAST(N'2023-12-31' AS Date), 1, CAST(N'2024-12-22' AS Date), NULL)
INSERT [dbo].[tblProjects] ([Id], [ProjectName], [StartDate], [EndDate], [Active], [CreateDate], [LastUpdatedDate]) VALUES (2, N'Project B', CAST(N'2024-03-01' AS Date), NULL, 1, CAST(N'2024-12-22' AS Date), NULL)
INSERT [dbo].[tblProjects] ([Id], [ProjectName], [StartDate], [EndDate], [Active], [CreateDate], [LastUpdatedDate]) VALUES (4, N'Project D', CAST(N'2024-12-24' AS Date), CAST(N'2025-03-12' AS Date), 1, CAST(N'2024-12-22' AS Date), CAST(N'2024-12-22' AS Date))
SET IDENTITY_INSERT [dbo].[tblProjects] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoles] ON 

INSERT [dbo].[tblRoles] ([Id], [RoleName], [Active], [CreateDate]) VALUES (1, N'Admin', 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblRoles] ([Id], [RoleName], [Active], [CreateDate]) VALUES (2, N'Manager', 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblRoles] ([Id], [RoleName], [Active], [CreateDate]) VALUES (3, N'Employee', 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tblRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTaskAssigns] ON 

INSERT [dbo].[tblTaskAssigns] ([Id], [EmployeeId], [ProjectId], [AssignDate], [CreateDate], [LastUpdatedDate]) VALUES (1, 1, 1, CAST(N'2024-11-20' AS Date), CAST(N'2024-11-20' AS Date), NULL)
INSERT [dbo].[tblTaskAssigns] ([Id], [EmployeeId], [ProjectId], [AssignDate], [CreateDate], [LastUpdatedDate]) VALUES (2, 2, 2, CAST(N'2024-11-21' AS Date), CAST(N'2024-11-21' AS Date), NULL)
INSERT [dbo].[tblTaskAssigns] ([Id], [EmployeeId], [ProjectId], [AssignDate], [CreateDate], [LastUpdatedDate]) VALUES (3, 3, 1, CAST(N'2024-11-22' AS Date), CAST(N'2024-11-22' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[tblTaskAssigns] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([Id], [Username], [Password], [Email], [RoleId], [EmployeeId], [Active], [CreateDate]) VALUES (1, N'admin', N'admin123', N'admin@example.com', 1, NULL, 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblUsers] ([Id], [Username], [Password], [Email], [RoleId], [EmployeeId], [Active], [CreateDate]) VALUES (2, N'manager', N'manager123', N'manager@example.com', 2, 2, 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblUsers] ([Id], [Username], [Password], [Email], [RoleId], [EmployeeId], [Active], [CreateDate]) VALUES (3, N'employee_user', N'employee123', N'employee@example.com', 3, 1, 1, CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D105345723B784]    Script Date: 12/23/2024 11:36:30 PM ******/
ALTER TABLE [dbo].[tblEmployee] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61607986DB54]    Script Date: 12/23/2024 11:36:30 PM ******/
ALTER TABLE [dbo].[tblRoles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E44027604F]    Script Date: 12/23/2024 11:36:30 PM ******/
ALTER TABLE [dbo].[tblUsers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__7AD04F1013A3C949]    Script Date: 12/23/2024 11:36:30 PM ******/
ALTER TABLE [dbo].[tblUsers] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C3B91938]    Script Date: 12/23/2024 11:36:30 PM ******/
ALTER TABLE [dbo].[tblUsers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEmployee]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[tblDepartment] ([Id])
GO
ALTER TABLE [dbo].[tblTaskAssigns]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tblEmployee] ([Id])
GO
ALTER TABLE [dbo].[tblTaskAssigns]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[tblProjects] ([Id])
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tblEmployee] ([Id])
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRoles] ([Id])
GO
