<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="EmployeeManagementEntities" connectionString="metadata=res://*/Data.EmployeeManagement.csdl|res://*/Data.EmployeeManagement.ssdl|res://*/Data.EmployeeManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-5QSPL81Q\FROZTY;initial catalog=EmployeeManagement;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>